*{
    margin: 0;
    padding: 0;
}

/* FONT FAMILY */
@font-face {
    font-family: hello;
    src: url(../assets/font/Hello.otf);
}

@font-face {
    font-family: butter;
    src: url(../assets/font/BUTTERSHINE\ SERIF.otf);
}

@font-face {
    font-family: timesst;
    src: url(../assets/font/TIMESS__.ttf);
}
/* HEADER */

.menuText{
    font-family: Helvetica, sans-serif;
    background-color: white;
    text-decoration: none;
}

/* MAIN */

.inicioFoto{
    background-image: url(../assets/img/_DSC1081.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 55%;
    height: 100%;
}

#pantallaDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.izquierda{
    background-color: #F1E077;
    height: 80.7vh;
    width: 50%;
}

.derecha{
    background-image: url(../assets/img/_DSC1081.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 80.7vh;
}

.wedding{
    color: #EDF3FF;
}

.izquierda h1{
    font-family: Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    color: #004AAD;
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 100px;
    margin-left: 100px;
}

.izquierda p{
    font-family: "timesst";
    width: 50%;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    margin-left: 100px;
}

#mDregalos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.izquierdaMd{
    background-image: url(../assets/img/mesadregalos.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 80.7vh;
}

.derechaMd{
    background-color: #004AAD;
    height: 80.7vh;
    width: 50%;
}

.derechaMd h1{
    font-family: Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    color: #F1E077;
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 100px;
    margin-right: 200px;
}

.derechaMd p{
    font-family: "timesst";
    width: 50%;
    margin: auto;
    color: #EDF3FF;
    font-size: 20px;
    line-height: 30px;
    margin-right: 200px;
}

.fondoLugar{
    background-image: url(../assets/img/mapa.png);
    height: 80.7vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel{
    color: #004AAD;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.botonColor{
    background-color: #F1E077;
}

.fondoConfirm{
    background-image: url(../assets/img/fondoconfirm.jpg);
    height: 80.7vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */

.piePagina{
    width: 100%;
}

.piePagina .grupoUno{
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}

.piePagina .grupoUno .box figure{
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}

.piePagina .grupoUno .box figure img{
   width: 50px;
   justify-content: center;
}

.piePagina .grupoUno .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    font-family: "timesst";
 }

 .piePagina .grupoUno .redSocial a{
    display: inline-block;
    color: grey;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
 }

 .piePagina .grupoUno .redSocial a:hover{
    color: #F1E077;
 }

 .piePagina .grupoDos{
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
    font-family: "timesst";
 }

 @media screen and (max-width:768px){
    .piePagina .grupoUno{
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    #pantallaDiv{
        flex-direction: column;
        flex-wrap: start;
        height: 100%;
    }

    .izquierda{
        width: 100%;
    }
    
    .derecha{
        width: 100%;
    }

    #mDregalos{
        flex-direction: column;
    }
    
    .izquierdaMd{
        width: 100%;
        height: auto;
    }
    
    .derechaMd{
        width: 100%;
        height: auto;
    }
 }

 @media (max-width: 1171px) and (min-width:991px){
    .izquierda h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .izquierda p{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .derechaMd h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-right: 100px;
    }
    
    .derechaMd p{
        font-size: 20px;
        margin-bottom: 10px;
    }
 }

 @media (max-width: 575px) and (min-width:320px){
    .izquierda h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .izquierda p{
        font-size: 20px;
        width: 50%;
        margin-bottom: 10px;
        margin-left: 100px;
    }

    .derechaMd h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 30%;
    }
    
    .derechaMd p{
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
 }