*{
    margin: 0;
    padding: 0;
}

/* FONT FAMILY */
@font-face {
    font-family: timesst;
    src: url(../assets/font/TIMESS__.ttf);
}

@font-face {
    font-family: caviar;
    src: url(../assets/tercera_entrega/fonts/CaviarDreams.ttf);
}

/* HEADER */

.menuText{
    font-family: "timesst";
    background-color: #EFE3D3;
    text-decoration: none;
    color: #DD7E1E;
}

/* MAIN */
.bGColor{
    background-color: #EFE3D3;
}

.teamUno{
    padding: 20px;
}

.teamUno h2{
    color: #DD7E1E;
    font-family: "timesst";
}

.teamUno p{
    color: #191817;
    font-family: "caviar";
}

.teamDos{
    padding: 20px;
}

.teamDos h2{
    color: #DD7E1E;
    font-family: "timesst";
} 





#lugarDiv{
    display: flex;
}

.lugarUno{
    background-image: url(../assets/img/lugar.png);
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 80.7vh;
}

.lugarDos{
    height: 80.7vh;
    width: 50%;
    justify-content: center;
    font-family: "timesst";
    text-align: center;
    color: #004AAD;
    display: flex;
}

.mesaDregalos .textmDr h1{
    color: #004AAD;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.mesaDregalos .textmDr h2{
    color: #004AAD;
    text-align: center;
    font-family: "timesst";
    font-size: 20px;
    margin-bottom: 45px;
}

.mesaDregalos .textmDr h3{
    color: #004AAD;
    text-align: center;
    font-family: "timesst";
    font-size: 20px;
}

.hotel{
    color: #004AAD;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.fondoConfirm{
    background-image: url(../assets/img/fondoconfirm.jpg);
    height: 80.7vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */

.piePagina{
    width: 100%;
    background-color: #EFE3D3;
}

.piePagina .grupoUno{
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}

.piePagina .grupoUno .box figure{
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}

.piePagina .grupoUno .box figure img{
   width: 50px;
   justify-content: center;
}

.piePagina .grupoUno .box h2{
    margin-bottom: 25px;
    color: #F9F6F4;
    font-size: 20px;
    text-align: center;
    font-family: "timesst";
 }

 .piePagina .grupoUno .redSocial a{
    display: inline-block;
    color: #F9F6F4;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
 }

 .piePagina .grupoUno .redSocial a:hover{
    color: #DD7E1E;
 }

 .piePagina .grupoDos{
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
    font-family: "timesst";
    color: #F9F6F4;
 }

/* MEDIA QUERIS */

 @media screen and (max-width:768px){
    .piePagina .grupoUno{
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .textInicio{
        padding-top: 20px;
    }
    .logoInicio{
        display: flex;
        flex: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        size: 25%;
    }
    .mesaDregalos .textmDr h1{
        font-size: 20px;
    }
    
    .mesaDregalos .textmDr h2{
        font-size: 10px;
        margin-bottom: 22.5px;
    }
    
    .mesaDregalos .textmDr h3{
        font-size: 10px;
    }

    #lugarDiv{
        display: flex;
    }
    
    .lugarUno{
        background-position: center;
        height: 80.7vh;
    }
    
    .lugarDos{
        height: 80.7vh;
        justify-content: center;
        font-family: "timesst";
        text-align: center;
        color: #004AAD;
    }

 }

 @media (max-width: 1171px) and (min-width:991px){
    .izquierda h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .izquierda p{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .derechaMd h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-right: 100px;
    }
    
    .derechaMd p{
        font-size: 20px;
        margin-bottom: 10px;
    }
 }

 @media (max-width: 575px) and (min-width:320px){
    .izquierda h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .izquierda p{
        font-size: 20px;
        width: 50%;
        margin-bottom: 10px;
        margin-left: 100px;
    }

    .derechaMd h1{
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 30%;
    }
    
    .derechaMd p{
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
 }