// medias queris

@media screen and (max-width:768px){
    .piePagina .grupoUno{
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }
 }
    