.piePagina{
    width: 100%;
    background-color: "bgcolor";
    .piePagina .grupoUno{
      width: 100%;
      max-width: 1200px;
      height: 80px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 20px 0px;
      .piePagina .grupoUno .box figure{
         width: 100%;
         height: 20%;
         display: flex;
         justify-content: center;
         margin-bottom: 25px;
         .piePagina .grupoUno .box figure img{
            width: 50px;
            justify-content: center;
         }
      }
      .piePagina .grupoUno .box h2{
         margin-bottom: 25px;
         color: "c-other";
         font-size: 20px;
         text-align: center;
         font-family: "timesst";
      }
      .piePagina .grupoUno .redSocial a{
         display: inline-block;
         color: "c-other";
         text-decoration: none;
         width: 45px;
         height: 45px;
         line-height: 45px;
         margin-right: 10px;
         text-align: center;
         transition: all 300ms ease;
      }
      .piePagina .grupoUno .redSocial a:hover{
         color: "c-primary";
      }
  }
  .piePagina .grupoDos{
   text-align: center;
   padding: 10px 0px;
   font-size: 15px;
   font-family: "timesst";
   color: "c-other";
}
}