// header{
//     div{
//         img{
//         }
//     }
//     div{
//         .menuText{
//             div{
//                 button{}
//                 div{
//                     ul{
//                         li{
//                             a{
//                                 color: blue;
//                             }
//                         }
//                     }   
//                 }
//             }
//         }
//     }
// }

.menuText{
    font-family: "timesst";
    background-color: $beige;
    text-decoration: none;
    color: $orange;
}