// FONT FAMILY
@font-face {
    font-family: timesst;
    src: url(../assets/font/TIMESS__.ttf);
}

@font-face {
    font-family: caviar;
    src: url(../assets/tercera_entrega/fonts/CaviarDreams.ttf);
}

$timesst: "TIMESST";
$caviar: "CaviarDreams";

