// VARIABLES PALETA DE COLORES
$beige: #EFE3D3;
$black: #191817;
$white: #F9F6F4;
$grey: #c1c1b0;
$orange: #DD7E1E;

// VARIABLES FONT FAMILY
@font-face {
    font-family: timesst;
    src: url(../assets/font/TIMESS__.ttf);
}

@font-face {
    font-family: caviar;
    src: url(../assets/tercera_entrega/fonts/CaviarDreams.ttf);
}
