@font-face {
    font-family: timest;
    src: url("../assets/fonts/TIMESS__.ttf");
}

@font-face {
    font-family: caviar;
    src: url("../assets/fonts/CaviarDreams.ttf");
}

// TIPOGRAFÍA
$titulos: "timest";
$texto: "caviar";

// PALETA DE COLORES
$orange: #dd7e1e;
$black: #191817;
$beige: #efe3d3;
$white: #f9f6f4;
$grey: #c1c1b0;

